<h2>{{editMode ? 'Edit' : 'Add'}} Employee</h2>
<form class="form-horizontal" novalidate
      (ngSubmit)="save()" [formGroup]="formGroup">
  <fieldset>

    <div class="form-group"
         [ngClass]="{'has-error': (formGroup.get('dni').touched || formGroup.get('dni').dirty) && !formGroup.get('dni').valid }">
      <label class="col-md-2 control-label"
             for="dniId">DNI</label>

      <div class="col-md-8">
        <input class="form-control"
               id="dniId"
               type="text"
               required
               formControlName="dni" />
        <span class="help-block" *ngIf="(formGroup.get('dni').touched || formGroup.get('dni').dirty) && formGroup.get('dni').errors">
          <span *ngIf="formGroup.get('dni').errors.required">
            A DNI is required
          </span>
        </span>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{'has-error': (formGroup.get('name').touched || formGroup.get('name').dirty) && !formGroup.get('name').valid }">
      <label class="col-md-2 control-label"
             for="nameId">Name</label>

      <div class="col-md-8">
        <input class="form-control"
               id="nameId"
               type="text"
               required
               formControlName="name" />
        <span class="help-block" *ngIf="(formGroup.get('name').touched || formGroup.get('name').dirty) && formGroup.get('name').errors">
          <span *ngIf="formGroup.get('name').errors.required">
            A Name is required
          </span>
        </span>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{'has-error': (formGroup.get('surnames').touched || formGroup.get('surnames').dirty) && !formGroup.get('surnames').valid }">
      <label class="col-md-2 control-label"
             for="surnamesId">Surnames</label>

      <div class="col-md-8">
        <input class="form-control"
               id="surnamesId"
               type="text"
               required
               formControlName="surnames" />
        <span class="help-block" *ngIf="(formGroup.get('surnames').touched || formGroup.get('surnames').dirty) && formGroup.get('surnames').errors">
          <span *ngIf="formGroup.get('surnames').errors.required">
            A Surnames is required
          </span>
        </span>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{'has-error': (formGroup.get('job').touched || formGroup.get('job').dirty) && !formGroup.get('job').valid }">
      <label class="col-md-2 control-label"
             for="jobId">Job</label>

      <div class="col-md-8">
        <input class="form-control"
               id="jobId"
               type="text"
               required
               formControlName="job" />
        <span class="help-block" *ngIf="(formGroup.get('job').touched || formGroup.get('job').dirty) && formGroup.get('job').errors">
          <span *ngIf="formGroup.get('job').errors.required">
            A Job is required
          </span>
        </span>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{'has-error': (formGroup.get('email').touched || formGroup.get('email').dirty) && !formGroup.get('email').valid }">
      <label class="col-md-2 control-label"
             for="emailId">Email</label>

      <div class="col-md-8">
        <input class="form-control"
               id="emailId"
               type="email"
               required
               formControlName="email" />
        <span class="help-block" *ngIf="(formGroup.get('email').touched || formGroup.get('email').dirty) && formGroup.get('email').errors">
          <span *ngIf="formGroup.get('email').errors.required">
            A Email is required
          </span>
        </span>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{'has-error': (formGroup.get('salary').touched || formGroup.get('salary').dirty) && !formGroup.get('salary').valid }">
      <label class="col-md-2 control-label"
             for="salaryId">Salary</label>

      <div class="col-md-8">
        <input class="form-control"
               id="salryId"
               type="number"
               required
               formControlName="salary" />
        <span class="help-block" *ngIf="(formGroup.get('salary').touched || formGroup.get('salary').dirty) && formGroup.get('salary').errors">
          <span *ngIf="formGroup.get('salary').errors.required">
            A Salary is required
          </span>
        </span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-4 col-md-offset-2">
        <span>
          <button class="btn btn-primary btn-sm" style="margin-right: 5px"
                  type="submit"
                  [disabled]="!formGroup.valid">
            Save
          </button>
          <button class="btn btn-secondary btn-sm"
                  type="button"
                  [routerLink]='["/employees"]'>
            Cancel
          </button>
        </span>

      </div>

    </div>
  </fieldset>
</form>
